@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.heading{
    font-family: 'Lobster', cursive;
    font-size: 3.2rem;
}

.banner-right{
    position: absolute;
    left: 90%;
}